extends layout

block layout-content
	// Page Header
	header.masthead
		.overlay
		.container
			.row
				.col-lg-auto.col-md-auto.mx-auto
					.site-heading
						h1 
							| Hidden Words
						span.subheading 
							| A poetry sharing community
	// Main Content
	.container
		.row
			.col-lg-8.col-md-10.mx-auto
				each post in posts
					.post-preview
						a(href="/poems")
							h2.post-title
								= post.title
							h3.post-subtitle
								= post.preview
						p.post-meta
							| Posted by 
							a(href="") 
								= post.author
							= ' on ' +  post.date
					hr
				// Pager
				.clearfix
					a.btn.btn-primary.float-right(href="") Older Posts →	