block variables
doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="description" content="")
		meta(name="author" content="")
		title #{title} | Hidden Words
		// Bootstrap core CSS
		link(href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
		// Custom fonts for this template
		link(href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css")
		// Custom styles for this template
		link(href="css/clean-blog.min.css" rel="stylesheet")
		// jQuery
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
		block auth-content
		script.
			$(document).ready(function() {
				$.post('/auth', 
					{
						token: document.cookie
					}, 
					function(data) {
						var items;
						if (data.success) {
							items = 
							[
								{ link: '/post', title: 'Post' },
								{ link: '/logout', title: 'Logout' }
							];
						} else {
							items = 
							[
								{ link: '/login', title: 'Login' },
								{ link: '/register', title: 'Register' }
							];
						}

						items.forEach(function(item, index) {
							$('#navbarItems').append('<li class="nav-item"><a class="nav-link"' + ' href=' + item.link +  '>' + item.title + '</a></li>');
						});
					}, 'json'
				);
			});
		block header-content
	body
		// Navigation
		nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
			.container
				a.navbar-brand(href="/") Hidden Words
				button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
					| 
					i.fas.fa-bars
				#navbarResponsive.collapse.navbar-collapse
					ul#navbarItems.navbar-nav.ml-auto
		div#root
			block layout-content
			hr
		// Footer
		footer
			.container
				.row
					.col-lg-8.col-md-10.mx-auto
						ul.list-inline.text-center
							li.list-inline-item
								a(href="#")
									span.fa-stack.fa-lg
										i.fas.fa-circle.fa-stack-2x
										i.fab.fa-twitter.fa-stack-1x.fa-inverse
							li.list-inline-item
								a(href="#")
									span.fa-stack.fa-lg
										i.fas.fa-circle.fa-stack-2x
										i.fab.fa-facebook-f.fa-stack-1x.fa-inverse
							li.list-inline-item
								a(href="#")
									span.fa-stack.fa-lg
										i.fas.fa-circle.fa-stack-2x
										i.fab.fa-github.fa-stack-1x.fa-inverse
						p.copyright.text-muted Copyright © Hidden Words 2020
		// Bootstrap core JavaScript
		script(src="vendor/jquery/jquery.min.js")
		script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")
		// Custom scripts for this template
		script(src="js/clean-blog.min.js")
