extends layout

block header-content
	// Submit script
	script.
		$(document).ready(function() {
			$('#login-form').on('submit', function(event) {
				// Form submit manually
				event.preventDefault();

				var email = $('#email').val();
				var password = $('#password').val();

				$.post('/login', 
					{
						email: email,
						password: password
					}, 
					function(data) {
						document.cookie = data;
						window.location.replace("/");
					}, 'json'
				);
			});
		});

block layout-content
	// Page Header
	header.masthead
		.overlay
		.container
			.row
				.col-lg-auto.col-md-auto.mx-auto
					.site-heading
						h1 
							| Hidden Words
						span.subheading 
							| Log in and start sharing
	.container
		.row
			.col-lg-8.col-md-10.mx-auto
				form#login-form(action="" method="POST")
					label(for="email") Email
					br
					input#email(type="text" name="email")
					br
					label(for="password") Password
					br
					input#password(type="text" name="password")
					br
					input#login-button(type="submit" name="login-button" value="Submit")
