doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="description" content="")
		meta(name="author" content="")
		title #{title} | Hidden Words
		link(href="css/clean-blog.min.css" rel="stylesheet")
		// jQuery
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
		// Remove cookie on logout
		script.
			$(document).ready(function() {
				document.cookie = '';
				window.location.replace("/");
			});
	