extends layout

block layout-content
	// Page Header
	header.masthead
		.overlay
		.container
			.row
				.col-lg-auto.col-md-auto.mx-auto
					.post-heading
						h1 
							= post.title
						span.meta
							| Posted by 
							a(href="")
								= post.author
							= ' on ' + post.date
	// Post Content
	article
		.container
			.row
				.col-lg-auto.col-md-auto.mx-auto
					p
						= post.text
