extends authlayout

block header-content
	// Submit script
	script.
		$(document).ready(function() {
			$('#post-form').on('submit', function(event) {
				// Form submit manually
				event.preventDefault();

				var title = $('#title').val();
				var content = $('#text-content').val();

				$.ajax({
					url: '/post',
					type: 'POST',
					headers: {
						'Authorization':'Bearer ' + document.cookie,
					},
					contentType: 'application/json',
					data: JSON.stringify({
						title: title,
						content: content
					}),
					dataType: 'json',
					success: function (data) {
						window.location.replace("/");
					},
					error: function (err) {
						alert(err.message);
					}
				});
			});
		});

	// Textarea size
	script.
		function resize(element) {
			element.style.height = "auto";
			element.style.height = (element.scrollHeight)+"px";
		}

block layout-content
	// Page Header
	header.masthead
		.overlay
		.container
			.row
				.col-lg-auto.col-md-auto.mx-auto
					.site-heading
						h1 
							| Hidden Words
						span.subheading 
							| Start writing and start sharing!
	.container
		.row
			.col-lg-auto.col-md-auto.mx-auto
				form#post-form(action="" method="POST")
					textarea#title(type="text" name="title" placeholder="Title" rows=1 cols=40 oninput="resize(this)")
					br
					textarea#text-content(type="text" name="text-content" placeholder="Write your poem here" rows=15 cols=40 oninput="resize(this)")
					br
					input#post-button(type="submit" name="post-button" value="Submit")