extends postlayout

block pre-post-content
	// Page Header
	header.masthead
		.overlay
		.container
			.row
				.col-lg-auto.col-md-auto.mx-auto
					.site-heading
						h1 
							| Hidden Words
						span.subheading 
							| A poetry sharing community